* {margin: 0; padding: 0; box-sizing: border-box;}

body {

}

.left-container {
    width: 30vw;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    padding: 1em;
}

.left-container a {
    text-decoration: none;
    color: black;
}

.right-container {
    width: 70vw;
    position: fixed;
    left: 30vw;
    overflow-y: scroll;
    height: 100vh;
}

.right-container a{
    color:;
}

.img-menu img{
    width: 100%;
    display: block;
    margin: .25em 0;
}

.img-container {
    display: flex;
    gap: .5em;
    margin: .25em 0;
}

